body {
    cursor: help;
}

p {
    color: grey;
    background-color: whitesmoke;
}

h1 {
    border: 2px solid black;
    height: 3em;
    margin: auto;
    text-align: center;
}

button{
    width: 80px;
    height: 20px;
    cursor: move;
}

a{
    cursor: move;
}

button:hover{
    text-align: right;
    font-size: 2em;
    width: 200px;
    height: 80px;
}
